pipeline/pl_incremental_load_for_multiple_tables_schedule.json
{
	"name": "pl_incremental_load_for_multiple_tables_schedule",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListOfTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListOfTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().load_type, 'IL')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_FL_load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{item().table_name}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_onPrem_DATASTORE",
												"type": "DatasetReference",
												"parameters": {
													"p_table_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_azSQL_TARGET",
												"type": "DatasetReference",
												"parameters": {
													"p_table_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "WMD_Start",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT last_loaded_date as WMD_Start from control_tbl\nWHERE table_name='@{item().table_name}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_azSQL_TARGET",
												"type": "DatasetReference",
												"parameters": {
													"p_table_name": "customer"
												}
											}
										}
									},
									{
										"name": "WMD_End",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "SELECT MAX(@{item().filter_column}) as WMD_End FROM @{item().table_name}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_onPrem_DATASTORE",
												"type": "DatasetReference",
												"parameters": {
													"p_table_name": "customer"
												}
											}
										}
									},
									{
										"name": "Copy Load Data",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "WMD_Start",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "WMD_End",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().table_name}\nWHERE @{item().filter_column}>'@{activity('WMD_Start').output.firstRow.WMD_Start}' AND @{item().filter_column}<='@{activity('WMD_End').output.firstRow.WMD_End}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_onPrem_DATASTORE",
												"type": "DatasetReference",
												"parameters": {
													"p_table_name": "customer"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_azSQL_TARGET",
												"type": "DatasetReference",
												"parameters": {
													"p_table_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "ups_update_control_table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy Load Data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[ups_update_control_table]",
											"storedProcedureParameters": {
												"last_loaded_date": {
													"value": {
														"value": "@activity('WMD_End').output.firstRow.WMD_End",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"table_nmae": {
													"value": {
														"value": "@item().table_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azSQL_TARGET",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "ListOfTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT table_name,filter_column,load_type,batch_no\nFROM control_tbl\nWHERE is_active='Yes' \n    and batch_no=@{pipeline().parameters.p_batch_no}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azSQL_TARGET",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "control_table"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_batch_no": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-07T14:03:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}